<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Bad Ass Movies</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="/angular-payment/dist/angular-payment-0.3.0.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_mYWfyfdpOUNbrosNSd6myG5u');
    </script>
</head>
<body ng-app="BadAssMovies">
    <navbar></navbar>
    <div ui-view></div>
</body>
</html>