<h2>Previous orders</h2>

<div ng-repeat="order in allOrdersForUser">
	<h3><i>{{order.datetime}}</i></h3>
	<p><b>Confirmation number:</b> {{order.confirmationNumber}}</p>
	<p><b>Total purchase amount:</b> {{order.totalPurchaseAmount | centsToDollars | currency}}</p>
	<p><b>Order status:</b> {{order.status}}</p>
	<p><b>Order summary:</b><p>
	<div ng-repeat="lineItem in order.lineItems" class="clear">
		<div class="movie-card"><img src={{lineItem.film.photo}} alt="Image Not Found" width="160px" height="240px"></div>
		<div class="film-title">{{lineItem.film.title}}</div>
		<p>{{lineItem.film.description}}</p>
		<p>Price: {{lineItem.film.price | centsToDollars | currency}}</p>
		<p>Quantity: {{lineItem.quantity}}</p>
	</div>
</div>