navbar {

  display: block;
  background: #4B77BE;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: #ddd;
    &:hover {
      color: #ddd;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #fff;
    }
    &:hover {
      transition: color 0.2s;
      background-color: #89C4F4;
    }
    &:focus {
      color: #fff;
      background-color: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
    background-color: #89C4F4;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #ADD8E6;
      cursor: pointer;
    }
  }

}