/* pdp view */
#product .heading {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.product-info .text {
  padding-bottom: 20px;
  display: block;
  &.price {
    font-size: 20px;
  }
}

product-image {
    width: 160px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    img {
      width: 400px;
      height: 1.5*400px;
      border-radius: 20px;
    }
}

.product-info {
  margin-top: 20px;
}

.film-title {
    font-weight: bold;
}

.film-area {
  margin-top: 40px;
  clear: left;
}

/* category view */
.film-list {
  margin-top: 35px;
  text-align: center;
  height: 400px;
  img {
    width: 160px;
    height: 250px;
  }
}

#movie-title {
  padding-top: 5px;
  font-size: 20px;
  color: #000;
}

#movie-price {
  color: #888;
  font-size: 20px;
  padding-right: 10px;
  vertical-align: middle;
}

#searchbar {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  /*margin-bottom: 20px;*/
  /*display: inline;*/
  /*background-color: #b0e0e6;*/ }

#regexfield {
  width: 300px;
  float: left; 
  margin-bottom: 5px;
  margin-right: 5px;
}

#searchbutton {
  float: left; 
margin-right: 15px;
margin-bottom: 5px;
}

#genresearch { 
  /*display: inline;*/
  float: left;
}