/* pdp view */
#product .heading {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.product-info .text {
  padding-bottom: 20px;
  display: block;
  &.price {
    font-size: 20px;
  }
}

product-image {
    width: 160px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    img {
      width: 400px;
      height: 1.5*400px;
    }
}

.product-info {
  margin-top: 20px;
}

.film-title {
    font-weight: bold;
}

.film-area {
  margin-top: 40px;
}

/* category view */
.film-list {
  text-align: center;
  height: 350px;
  img {
    width: 160px;
    height: 250px;
  }
}