/* pdp view */
.movie-card {
    width: 160px;
    height: 240px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.film-title {
    font-weight: bold;
}

.film-area {
  margin-top: 40px;
}

/* category view */
.film-list {
  text-align: center;
  height: 400px;
  img {
    width: 160px;
    height: 250px;
  }
}

#movie-title {
  padding-top: 5px;
  font-size: 20px;
  color: #000;
}

#movie-price {
  color: #888;
  font-size: 20px;
  padding-right: 10px;
  vertical-align: middle;
}