<h1>Cart</h1>

<div class="row">
	<div class="col-md-9">
		<div ng-repeat="lineItem in allLineItemsInCart" class="clear">
			<div class="movie-card"><img src={{lineItem.film.photo}} alt="Image Not Found" width="160px" height="240px"></div>
			<div class="film-title">{{lineItem.film.title}}</div>
			<p>{{lineItem.film.description}}</p>
			<p>Price: {{lineItem.film.price | centsToDollars | currency}}</p>
			<p>Quantity: {{lineItem.quantity}}</p>
			<button type="button" class="btn btn-danger" ng-click="removeFilmFromCart(film)">Delete</button>
			<button type="button" class="btn btn-info">Edit</button>
		</div>
	</div>

	<div class="col-md-3">
		<button type="submit" class="btn btn-success" ui-sref="checkout">Proceed to Checkout</button>
	</div>
<div>