<h1>Cart</h1>

<div class="row">
	<div class="col-md-9">
		<div ng-repeat="lineItem in allLineItemsInCart" class="clear">
			<div class="movie-card"><img src={{lineItem.film.photo}} alt="Image Not Found" width="160px" height="240px"></div>
			<div class="film-title">{{lineItem.film.title}}</div>
			<p>{{lineItem.film.description}}</p>
			<p>Price: {{lineItem.film.price | centsToDollars | currency}}</p>
			<form>
				<label for="lineItemQuantity">Quantity: </label>
				<select autofocus="{{lineItem.quantity}}" ng-model="lineItem.quantity" class="form-control" id="lineItemQuantity" ng-change="updateQuantity(lineItem.quantity, $index)">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</form>

			<button type="button" class="btn btn-danger" ng-click="removeFilmFromCart(lineItem.film)">Delete</button>
			<button type="button" class="btn btn-info">Edit</button>
		</div>
	</div>

	<div class="col-md-3">
		<button type="submit" class="btn btn-success" ui-sref="checkout">Proceed to Checkout</button>
	</div>
<div>