<form id="checkout-form" name="checkoutForm" ng-submit="checkout()">
	<div class="row">
		<div class="col-md-8">

				<h1>Checkout</h1>
					<div class="row">
						<div class="col-md-6" id="billing">
							<h3>Billing Info:</h3>

							<div class="form-group">
							    <label for="creditCardName">Name on Credit Card</label>
							    <input type="text" ng-model="billing.creditCardName" class="form-control" id="creditCardName" placeholder="John Doe">
							 </div>

							 <div class="form-group" ng-class="{ 'has-error': checkoutForm.creditCardNumber.$invalid }">
							    <label for="creditCardNumber">Credit Card Number</label>
							    <input type="text" name="creditCardNumber" ng-model="billing.creditCardNumber" class="form-control" x-autocompletetype="cc-number" restrict-numeric card-number-validator card-number-formatter card-type="cardType" id="creditCardNumber" placeholder="4444 4444 4444 4444">
							    <p ng-show="checkoutForm.creditCardNumber.$invalid&&checkoutForm.creditCardNumber.$dirty">Please enter a valid credit card number</p>
							  </div>

							  <div class="form-group" ng-class="{ 'has-error': checkoutForm.creditCardCVC.$invalid }">
							    <label for="creditCardCVC">CVC</label>
							    <input type="text" name="creditCardCVC" ng-model="billing.creditCardCVC" x-autocompletetype="cc-csc" restrict-numeric card-cvc-validator card-cvc-formatter ng-maxlength="4" ng-pattern="/\d*/" class="form-control" id="creditCardCVC" placeholder="111">
							    <p ng-show="checkoutForm.creditCardCVC.$invalid&&checkoutForm.creditCardCVC.$dirty">Please enter a valid CVC</p>
							  </div>

							    
							  <div class="form-group" ng-class="{ 'has-error': checkoutForm.creditCardExpiry.$invalid }">
							    <label for="creditExpiration">Expiration Date</label>
							    <input type="text" name="creditCardExpiry" ng-model="billing.creditExpiration" class="form-control" x-autocompletetype="cc-exp" maxlength="9" restrict-numeric card-expiry-validator card-expiry-formatter id="creditExpiration" placeholder="11/2015">
							    <p ng-show="checkoutForm.creditCardExpiry.$invalid&&checkoutForm.creditCardExpiry.$dirty">Please enter a valid expiration date MM/YYYY</p>
							  </div>
							
						</div>
					<div class="col-md-6">
						<h3>Shipping Info:</h3>
						<div class="form-group">
						    <label for="street">Street Address</label>
						    <input type="text" ng-model="address.street" class="form-control" id="street" placeholder="123 Beverly Hills Dr.">
						</div>

						<div class="form-group">
						    <label for="city">City</label>
						    <input type="text" ng-model="address.city" class="form-control" id="city" placeholder="Hollywood">
						</div>

						<div class="form-group">
						    <label for="state">State</label>
						    <input type="text" ng-model="address.state" class="form-control" id="state" placeholder="CA">
						</div>
						<div class="form-group">
						    <label for="zip">Zip Code</label>
						    <input type="text" ng-model="address.zip" class="form-control" id="zip" placeholder="90046">
						</div>
					</div>
				</div>
			<h3>Order Summary</h3>

			<div ng-repeat="lineItem in allLineItemsInCart" class="clear" id="order-summary">
				<div class="single-order">
					<h4>{{lineItem.film.title}}</h4>
					<span class="heading">Price: </span><span class="text">{{lineItem.film.price | centsToDollars | currency}}</span></br>
					<span class="heading">Quantity: </span><span class="text">{{lineItem.quantity}}</span>
				</div>
			</div>

			<button type="button" class="btn btn-info" ui-sref="cart" id="edit">Edit Cart</button>

		</div>

		<div class="col-md-4" >
			<div id="total">
				<span id="total-heading">Total:</span>
				<span id="total-text">{{total | centsToDollars | currency}}</span>
			</div>

			<button type="submit" class="btn btn-success">Place Order</button>

		</div>
	</div>
</form>