<h1>BadAss Movies. Complete Catalog:</h1>

<div class="btn-group genres">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Genres (from db) <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" ng-repeat="category in categories" ng-click="getMovies(category._id)">{{category.name}}</a></li>
    <li class="divider"></li>
    <li><a href="#" ng-click="getMovies()">All Movies</a></li>
  </ul>
</div>

<div class="film-area">
  <div class="film-list col-md-3" ng-repeat="film in films">
  	<a ng-href="/products/{{film._id}}">
      <img ng-src="{{film.photo}}" />
      <p>{{film.title}}</p>
    </a>
    <button type="button" class="btn btn-default">{{film.price}}</button>
   <button type="button" class="btn btn-info">Detail</button>
   <button type="button" class="btn btn-success">BUY!</button>
    <!--   <p>{{film.categories.name}}</p> -->	
  </div>
</div>